@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background: radial-gradient(circle at center, #ffffff 0%, #cdf9ff 100%);
  background-attachment: fixed; /* 背景を固定 */
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto; /* 内部で縦方向スクロール */
}

.font-orbitron {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
}
